@inherits UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @if (homePage.SocialLinks != null && homePage.SocialLinks.Any())
                {
                    <ul class="list-inline text-center">
                        @foreach (var item in homePage.SocialLinks)
                        {
                            string iconClass = "";
                            if(!string.IsNullOrWhiteSpace(item.Icon))
                            {
                                var iconValues = item.Icon.ToLower().Split('-');
                                iconClass = iconValues[1].Trim().Replace("brands", "fab")
                                    .Replace("solid", "fas")
                                    .Replace("regular", "far") + " fa-" + iconValues[0].Trim().Replace(" ", "-");
                            }

                            <li class="list-inline-item">
                                <a href="@item.Link.Url" target="@item.Link.Target" title="@item.Link.Name">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="@iconClass fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                }
                <p class="copyright text-muted">@Umbraco.GetDictionaryValue("Footer.CopyrightTitle") &copy; @DateTime.Now.Year @Umbraco.GetDictionaryValue("Footer.CopyrightStatement")</p>
                <p class="copyright text-muted">Theme by <a href="https://startbootstrap.com/" target="_blank">Start Bootstrap</a>, implemented in Umbraco by Paul Seal from <a href="https://codeshare.co.uk" target="_blank">codeshare.co.uk</a></p>
            </div>
        </div>
    </div>
</footer>
