@inherits UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var homePage = Model.AncestorOrSelf<ContentModels.Home>();
}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="@homePage.Url()">@Umbraco.GetDictionaryValue("Navigation.SiteName")</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            @Umbraco.GetDictionaryValue("Navigation.MenuTitle")
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@homePage.Url()">@homePage.Name</a>
                </li>
                @foreach (var page in homePage.Children.Where(x => !x.Value<bool>("umbracoNaviHide")))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@(page.Url())">@(page.Name)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
