@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactViewModel>

@using Clean.Core.Models.ViewModels;

@using (Html.BeginUmbracoForm("SubmitForm", "ContactSurface", FormMethod.Post, new { @class = "text-left" }))
{
    <div class="form-floating">
        <input asp-for="@Model.Name" class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
        <label for="Name">@Umbraco.GetDictionaryValue("ContactForm.Name")</label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="@Model.Email" class="form-control" id="email" placeholder="Enter your email..." data-sb-validations="required,email"/>
        <label for="Email">@Umbraco.GetDictionaryValue("ContactForm.Email")</label>
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <textarea asp-for="@Model.Message" class="form-control" id="message" placeholder="Enter your message here..." rows="5" style="height: 12rem"></textarea>
        <label for="Message">@Umbraco.GetDictionaryValue("ContactForm.Message")</label>
        <span asp-validation-for="@Model.Message" class="text-danger"></span>
    </div>
    <br />
    <div class="form-floating">
        <button class="btn btn-primary text-uppercase float-end" id="submitButton" type="submit">@Umbraco.GetDictionaryValue("ContactForm.Send")</button>
    </div>
}